
.link {
  text-decoration: none;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 0;
  position: absolute;
}

.logo {
  position:absolute;
}

.logo_place_header{
  top: 30px;
  left: 64px;
}

.header_main-illustration{
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
  position: absolute;
}

.header__title{
  margin: auto;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  position: relative;
}


.header__subtitle{
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
}


.description{
  margin-bottom: 100px;
  display: flex;
}

.description__two-columns{
  width: 80%;
  margin: auto;
  display: flex;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding-left: 40px;
}

.paragraph{
  margin: 0;
}

.two-columns__main-text > .two-columns__paragraph:nth-of-type(2n){
  padding: 30px 0;
}

.two-columns__span_accent{
  font-weight: bold;
}


/* digits start*/

.digits{
  margin-bottom: 100px;
}

.digits__section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.digits__section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  margin-right: 33px;
}

.table__cell:nth-of-type(4n) {
  margin-right: 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* digits end*/

/* feynman start */

.feynman{
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
}

.feynman__title{
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.feynman__subtitle{
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.feynman__link{
  top: 50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
}


.feynman__img{
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
  position: absolute;
}

/* feynman end */


.kaufman{
  background-color: #000000;
  color: white;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
}



.section-title__theme-dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle__theme-dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 20px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.table__cell_theme_dark:nth-of-type(5n) {
  margin-right: 0;
}


.section-triangle{
  width: 837px;
  height: 837px;
  top: 0;
  right: -210px;
  z-index: 0;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
}

.footer{
  min-height: 350px;
  background-color: #000000;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  
}
.footer__columns{
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  display: flex;
  position: relative;
}

.footer__column {
  flex-basis: 711px;
}

.footer__column_content_copyright{
  display: flex;
  justify-content: space-around;
}

.footer__author{
  bottom: 0;
  padding: 18px 0;
  left: 64px;
  position: absolute;
}


.footer__column-links{
  display: flex;
  flex-direction: column;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.logo__place_footer{
  top: 30px;
  left: 64px;
}