* {
  margin: 0;
  padding: 0;
  
}

.page {
  min-width: 1100px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 20px;
  margin-top: 80px;
  z-index: 1;
}

.logo_place_header{
  top: 30px;
  left: 64px;
}

.header__image{
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__title{
  margin: auto ;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}


.header__subtitle{
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}


.two-columns{
  width: 80%;
  margin: auto;
}

.brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding-left: 40px;
}

.two-columns__main-text > li:nth-of-type(2n){
  padding: 30px 0;
}

.span__accent{
  font-weight: bold;
}


/* digits start*/

.digits__title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.digits__table-cell{
  width: 250px;
  margin-top: 60px;
  margin-right: 33px;
}

.digits__table-cell:nth-of-type(4n) {
  margin-right: 0;
}

.digits__table-cell-heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.digits__table-cell-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* digits end*/

/* feynman start */

.feynman{
  background-color: #f2f2f2;
  min-height: 675px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle{
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  top: 50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.feynman__img{
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}

/* feynman end */

.text__center{
  text-align: center;
  margin: 0 auto;
}

.position_relative{
  position: relative;
}


.position_absolut{
  position: absolute;
}

.display__flex{
  display: flex;
}

.margin_bottom_100{
  margin-bottom: 100px;
}

.margin_bottom_90{
  margin-bottom: 90px;
}

.margin_bottom_70{
  margin-bottom: 70px;
}

.margin_bottom_20{
  margin-bottom: 20px;
}

.padding-bottom__table-cell{
  padding-bottom: 20px;
}

.kaufman{
  background-color: #000000;
  color: white;
  padding: 90px 0;
  overflow: hidden;
}



.kaufman__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
}

.kaufman__subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}


.table__cell_theme_dark-heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell_theme_dark-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_theme_dark:nth-of-type(5n) {
  margin-right: 0;
}


.kaufman-triangle{
  width: 837px;
  height: 837px;
  top: 0;
  right: -210px;
  z-index: 0;
}

footer{
  min-height: 350px;
  background-color: #000000;
  color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;
  
}
.columns{
  margin: 0 auto;
  width: 90%;
  min-height: 350px;
  justify-content: center;
}

.flex_basis__711{
  flex-basis: 711px;
}

.author{
  bottom: 0;
  padding: 18px 0;
}

.space-around{
  justify-content: space-around;
}

.footer_column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}

.footer_column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.footer_column-link > img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}